/* Style du tableau */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* Style des bordures de tableau */
table, th, td {
    border: 1px solid #ccc;
}

/* Style de l'en-tête du tableau */
th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

/* Style des cellules du tableau */
td {
    padding: 8px;
    text-transform: uppercase;
}

p{
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
}

button{
    display: block;
    width: 30%;
    margin: 2em auto;
    border-radius: 6px;
    border: #fff 1px solid;
    color: #fff;
    background-color:#18538e;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 17px;
}